body, html {
    height: 100%;
    /*width: 60%;*/
    overflow: none;

}


#nav-boxes {
    height: 25%;
}

.nav-box {
    /*border: 1px solid black;*/
    height: 100px;
}

h2.nav-option {
    text-align: center;
}


.main_nav_options {
    text-align: center;
    margin: 0 auto;
}

.header-row {
    text-align: center;
    width: 100%;
    padding-top: 100px;

}

#merrick-face {
    margin: 0 auto;
    display: block;
    position: relative;
}

a {
    color: black;
}

a:hover {
    color: black;
}

a:visited {
    color: black;
}



#name_header {
    padding-top: 0px;
}




.jumbotron h1 {
    font-size: 90px;
    color: black;
    /*text-align: center;*/
    margin-bottom: 40px;
}



#merrick_bio_text {
    font-weight: lighter;
    font-size: 1.5em;
}

#merrick_links {
    text-align: center;
}

#merrick_bio_photo {
    width: 100%;
}

#nav {
    width: 85%;
    margin: 0 auto;
    margin-top: 2em;
    overflow: auto;
    display: block;
}

.site_footer {

    border: 1px solid black;
    border-bottom: 0px;
    z-index: -1;
    position: relative;
    z-index: 1;
    min-height:100px; 
    /*background-color: rgba(238, 233, 233, 1);*/
    height: 100%;

}


#merrick_name{
    padding-top: -100px;
}

#merrick_jumbo {
    background-color: white;
    border-bottom: 1px solid white;
    height: 100%;
    margin: 0 auto;
}

.jumbotron {
    min-height: 100%;
    margin: 0 auto;
    display: block;

}



.mid-scroll-nav-header
{
    height: 134px;
    width: 100%;
    background-color: transparent;
    padding-top: 20px;
    margin-bottom: 15px;
    border-bottom: 0px solid black;
    z-index: 1;
}


.on-nav-link {
    color: black;
    font-weight: bold;
}

.off-nav-link {
    color: black;
    font-weight: lighter;
}


#merrick-mid-scroll-pic {
    height: 80px;
    width: 80px;
}

.menu-option {
    margin-top: 20px;
}

#menu-items-row {
/*    margin-top: 10px;
    margin-bottom: 10px;*/
}


.hack-for-jump {
    height: 134px;
    background-color: white;
}




/* MUSIC SECTION */

.merrick-music-section {
    margin-top: 100px;
}


#merrick-main-music-row {
    margin-bottom: 90px;
}

#playButton {
    position: relative;
    margin-left: -150px;
    margin-top: -200px;
    z-index: -5;
}



#bigPlayBackground {
    padding-top: -300px;
    margin-left: 50px;
}



.song_panel {
    border-radius: 0px;
    background-color: black; 
    border: 1px solid black;
    width: 607px;
    margin-top: 10px;
    margin-left: -90px;
}

.song_panel a {
    font-size: 40px;
    color: white;
    font-weight: lighter;

}

#merrick_studio {
    position: relative;
    z-index: 1;
}

#tracks {
    margin-top: -500px;
}


.albumPromo {
    margin-top: 200px;
}




#merrick-bio-pic {
    margin-left: 30px;
}

#merrick_bio_text {
    margin-top: 80px;
    line-height: 4;
}


.merrick-biography {
    padding-top: 200px;
}

#merrick_studio_pic {
    margin-left: -50px;
    margin-top: -15px;
}




#social-post {
    height: 300px;
    width: 300px;
    margin: 20px;
    border: 1px solid black;
    text-align: center;
}









/* centered columns styles 
.row-centered {
    text-align:center;
}
.col-centered {
    display:inline-block;
    float:none;
    /* reset the text-align */
    text-align:left;
    /* inline-block space fix */
    margin-right:-4px;
}



/* WEB FONTS */

@font-face{ 
    font-family: 'BebasNeue';
    src: url('bebasneue/BebasNeue-webfont.eot');
    src: url('bebasneue/BebasNeue-webfont.eot') format('eot'),
         url('bebasneue/BebasNeue-webfont.woff') format('woff'),
         url('bebasneue/BebasNeue-webfont.ttf') format('truetype'),
         url('bebasneue/BebasNeue-webfont.svg') format('svg');
}








/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers: h5bp.com/u
 */

.hidden {
    display: none !important;
    visibility: hidden;
}

/*
 * Hide only visually, but have it available for screen readers: h5bp.com/v
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element to be focusable
 * when navigated to via the keyboard: h5bp.com/p
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}



.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

