body, html {
    height: 100%;
}


#nav-boxes {
    height: 25%;
}

.nav-box {
    /*border: 1px solid black;*/
    height: 100px;
}

h2.nav-option {
    text-align: center;
}


.main_nav_options {
    text-align: center;
    margin: 0 auto;
}

.header-row {
    text-align: center;
    width: 100%;
    padding-top: 100px;

}

#merrick-face {
    margin: 0 auto;
    display: block;
    position: relative;
}





#name_header {
    padding-top: 90px;
}




.jumbotron h1 {
    font-size: 90px;
    color: black;
    /*text-align: center;*/
    margin-bottom: 40px;
}



#merrick_bio_text {
    font-weight: lighter;
    font-size: 1.5em;
}

#merrick_links {
    text-align: center;
}

#merrick_bio_photo {
    width: 100%;
}

#nav {
    width: 85%;
    margin: 0 auto;
    margin-top: 2em;
    overflow: auto;
    display: block;
}

.site_footer {

    border: 1px solid black;
    border-bottom: 0px;
    z-index: -1;
    position: relative;
    z-index: 1;
    min-height:100px; 
    /*background-color: rgba(238, 233, 233, 1);*/
    height: 100%;

}



#merrick_name{
    padding-top: 5%;
}

#merrick_jumbo {
    background-color: white;
    border-bottom: 1px solid white;
    height: 100%;
    margin: 0 auto;
}

.jumbotron {
    min-height: 100%;
    margin: 0 auto;
    display: block;

}




.section1 {
    padding-top: 80px;
}


#group_of_songs {
    padding-top: 440px;
    margin-left: -40px;
}



.song_panel {
    border-radius: 0px;
    background-color: black;
    opacity: 0.3;
    border: 1px solid black;
}

.song_panel a {
    font-size: 30px;
    color: white;
    font-weight: lighter;
}






/* WEB FONTS */

@font-face{ 
    font-family: 'BebasNeue';
    src: url('bebasneue/BebasNeue-webfont.eot');
    src: url('bebasneue/BebasNeue-webfont.eot') format('eot'),
         url('bebasneue/BebasNeue-webfont.woff') format('woff'),
         url('bebasneue/BebasNeue-webfont.ttf') format('truetype'),
         url('bebasneue/BebasNeue-webfont.svg') format('svg');
}








/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers: h5bp.com/u
 */

.hidden {
    display: none !important;
    visibility: hidden;
}

/*
 * Hide only visually, but have it available for screen readers: h5bp.com/v
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element to be focusable
 * when navigated to via the keyboard: h5bp.com/p
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}



.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

